/*reset*/
*{
    box-sizing: border-box;
}

img {
    /*Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width*/
    display: block; 
    width:100%;
    height:auto;
}
html {
    --color: #d0afcf;
}
/*components*/
data-widget {
    /*custom elements are inline by default*/
        display:block;
}
data-widget h2 {
    padding: 10px 0;
}
data-widget p {
    margin-top:10px;
    font-size: 14px;
    line-height: 1.2;
}
/*context*/

body {
    width: 98%;
    max-width: 1100px;
    margin-right:auto;
    margin-left: auto;
    background-color: var(--color);
}
main {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 80px;
}
section h1 {
    font-family: sans-serif;
    font-size: 16px;
    color:white;
}
@media (max-width: 599px){
    main data-widget {
        max-width: 400px;
    }
}
@media (min-width: 600px){
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    main section {
        width: 50%;
        padding: 10px;
    }
}
@media (max-width: 899px){
    main section {
        margin-top: 40px;
    }
}

@media (min-width: 900px){
    main section {
        width: 25%;
    }
    section.area-four {
        order: initial;
    }
    main section:not(:last-of-type){
        border-right: 2px dotted black;
    }
    main data-widget {
        border-top: 2px dotted black;
        margin-top: 10px;
    }
}
