/*reset*/
*{
/*why * instead of html ?*/
    box-sizing: border-box;
}
.green {
    display:flexbox;

}
.active {
    font-style:italic;
}
 h1 {
     text-transform: uppercase;
 }
 
.area-chart {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area-one h2 {
    font-size: 2em;
}
.area-three h2 {
    font-size: 6em;
/*line-height property 80% does not trigger space around the "27.1*/
    line-height: 80%;
}
.area-three span {

    font-size: 20px;

}

img {
    /*Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width*/
    display: block;
    width: 100%;
    height: auto;
}
html {
    --color: #d0afcf;
}
/*components*/
data-widget {
    /*custom elements are inline by default*/
        display:block;
}
data-widget h2 {
   text-transform: uppercase;
    padding: 5px 0;
   line-height: 1.2;
  
}
data-widget p {
    margin-top:10px;
    font-size: 14px;
    line-height: 1.2;
}
/*context*/

body {
    font-family: Raleway, sans-serif;
        width: 98%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    /*why not margin: auto 0;*/
    background-color: var(--color);
    padding: 1rem;
}
main {
    display:flex;
    flex-direction: column;
   
    padding-bottom: 80px;
}
section h1 {
    font-weight: 400;
    font-size: 16px;
    color: white;
}
@media (max-width: 599px){
    main data-widget {
        max-width: 400px;
    }
}
@media (min-width: 600px){
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    main section {
        width: 50%;
        padding: 10px;
    }
}
@media (max-width: 899px){
    main section {
        margin-top: 40px;
    }
}

@media (min-width: 900px){
    main section {
        width: 25%;
    }
    section.area-four {
        order: initial;
    }
    main section:not(:last-of-type){
        border-right: 2px dotted black;
    }
    main data-widget {
        border-top: 2px dotted black;
        margin-top: 10px;
    }
}
/*@media only screen and (max-width: 600px) {
    body {
        font-size: 0.5em;
        padding: 0px;
    }
}*/
