/* 
html {
    box-sizing: border-box;
} */
body {
    font-family: Raleway;
    margin: auto 0;
    /* min-height: 100vh; */
    /* background-size: cover; to fit the screen, only images?*/
    background-color: #fff;
    
}
.zone {
    padding: 30px 50px;
    border-top: 1px solid #DADCE0;
    border-bottom: 1px solid #DADCE0;
    /* display:inline-block; */
    /* font-size: 0.8em;  */
    /*  cursor:pointer;
     color:#FFF;
    font-size:2em; font size to be equal to 5 times containing element which is  20 pixels
   border-radius:4px; 
    border:1px solid #bbb;
    transition: all 0.3s linear;*/
}
/* TITLE */
.green {
    display: flexbox;
    
}
.active {
    font-style: italic;
    /* font-size: 0.7em; */
}

h1{
    /* font-size: 2.75rem; 2.75rem is 44px (16x2.75) 16px is the min  font on mobile devices */
    text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

/* Big chart */
.container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* gap:10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    align-items: end; */
}
/* Grid panel */
.grid-wrapper {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    border-top: 1px solid #DADCE0;
    border-bottom: 1px solid #DADCE0;
    margin: 0 -16px;
    background-color: #DADCE0;
}
/*.vl {
    border-left: 6px dashed;
    height: 300px;
    position: absolute;
   
}*/

/* background transparant, change card size? margin? 
.box {
    make charts smaller 
    padding:130px;
    margin: 20px;
}
*/
/* each chart width of 100 using css class of charts so it fill out the entire grid card. Each div has a chart id, all children of charts want same sizze widt 100% 

.box > # {
    width: 100%;
}
    */
.box {
    background-color: #fff;
    
}
.fp-item {
    
  
    background-color: #efefef;
}
.zone {
    /*background-color: #fff;*/
    
}
/* Footer */



